#pragma once
#include "core/meta/reflection/reflection.h"
#include "core/meta/generated/serializer/all_serializer.h"
{{#include_headfiles}}
#include "core/meta/generated/{{headfile_name}}"
{{/include_headfiles}}

namespace luka {

namespace reflection {

void TypeMetaRegister::MetaRegister(){
  {{#sourefile_names}}TypeWrappersRegister::{{sourefile_name_upper_camel_case}}();
  {{/sourefile_names}}
}

}  // namespace reflection

}  // namespace luka